html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #DDD;
	overflow: hidden;
}

* {
	font-family: Sans-Serif;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

.header-1 {
	padding-top: 1%;
}

.back-ground {
	float: left;
	width: 98%;
	height: 40%;
}

.btn-close {
	background-color: #42bff5;
	color: black;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.4s;
	border: none;
}

 .btn-close:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.17),0 6px 8px 0 rgba(0,0,0,0.18);
    background-color:#42d7f5;
 }

.table-ground {
	float: left;
	width: 100%;
	height: 100%;
	Overflow-y: scroll;
	border-style: solid;
}

.table-background {
	float: left;
	width: 92%;
	height: 33%;
	padding-top: 0%;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 0%;
}

.container {
	float: left;
	width: 98%;
	padding-top: 1%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 0%;
}


.viewing-chart {
	float: left;
	width: 70%;
	
	padding-top: 1%;
}

.trade-board {
	float: left;
	width: 20%;
	height: 50%;
	padding: 2%;
	
}

.trade-board:before {
	float: left;
	content: ' ';
	display: block;
	height: 10%;
}

.table {
	width: 80%;
	padding-top: 0.5em;
}

tr.pad-check > td {
	padding-top: 1em;
}

.trade_data {
	width: 95%;
}

.infor-th {
	border-style: solid;
}

.infor-td {
	border-style: solid;
}

.my_form {
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0%;
}